In [1]:
import pandas as pd
import numpy as np

data = pd.read_pickle('../data/data_step2.pkl')
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [2]:
data.loc[(data['Item'] == 'UNKNOWN') | (data['Item'] == 'ERROR'), 'Item'].count()

np.int64(31)

In [3]:
data.groupby('Item')['Price Per Unit'].value_counts().unstack().fillna(0)

Price Per Unit     1.0     1.5     2.0     3.0     4.0     5.0
Item
Cake               0.0     0.0     0.0  1185.0     0.0     0.0
Coffee             0.0     0.0  1284.0     0.0     0.0     0.0
Cookie          1209.0     0.0     0.0     0.0     0.0     0.0
Juice              0.0     0.0     0.0  1359.0     0.0     0.0
Salad              0.0     0.0     0.0     0.0     0.0  1270.0
Sandwich           0.0     0.0     0.0     0.0  1301.0     0.0
Smoothie           0.0     0.0     0.0     0.0  1139.0     0.0
Tea                0.0  1199.0     0.0     0.0     0.0     0.0

In [4]:
data.to_csv('../data/data_cleaned.csv')