In [8]:
import pandas as pd

data = pd.read_pickle('../data/data_step1.pkl')
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [10]:
data['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [12]:
data['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [28]:
data['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [25]:
# Item = NaN
len(data.loc[data['Item'].isna(), 'Item'])

333

In [38]:
# Item = UNKNOWN ou ERROR
data.loc[(data['Item'] == 'UNKNOWN') | (data['Item'] == 'ERROR'), 'Item'].count()

np.int64(636)

In [27]:
# Payment Method = NaN
len(data.loc[data['Payment Method'].isna(), 'Payment Method'])

2579

In [42]:
# Payment Method = UNKNOWN ou ERROR
data.loc[(data['Payment Method'] == 'UNKNOWN') | (data['Payment Method'] == 'ERROR'), 'Payment Method'].count()

np.int64(599)