In [12]:
import pandas as pd

data = pd.read_csv("../data/dirty_cafe_sales.csv")
data = pd.DataFrame(data)
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [2]:
data.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [2]:
data['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [4]:
data.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

Abaixo, foram atribuídos os preços corretos em cada tipo de item.

In [72]:
data.loc[data['Item'] == 'Coffee', 'Price Per Unit'].unique()

array(['2.0', nan, 'ERROR', 'UNKNOWN'], dtype=object)

In [73]:
data.loc[data['Item'] == 'Cake', 'Price Per Unit'].unique()

array(['3.0', nan, 'UNKNOWN', 'ERROR'], dtype=object)

In [74]:
data.loc[data['Item'] == 'Cookie', 'Price Per Unit'].unique()

array(['1.0', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [75]:
data.loc[data['Item'] == 'Salad', 'Price Per Unit'].unique()

array(['5.0', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [76]:
data.loc[data['Item'] == 'Smoothie', 'Price Per Unit'].unique()

array(['4.0', nan, 'UNKNOWN', 'ERROR'], dtype=object)

In [77]:
data.loc[data['Item'] == 'Sandwich', 'Price Per Unit'].unique()

array(['4.0', nan, 'ERROR', 'UNKNOWN'], dtype=object)

In [78]:
data.loc[data['Item'] == 'Juice', 'Price Per Unit'].unique()

array(['3.0', nan, 'UNKNOWN', 'ERROR'], dtype=object)

In [79]:
data.loc[data['Item'] == 'Tea', 'Price Per Unit'].unique()

array(['1.5', nan, 'ERROR', 'UNKNOWN'], dtype=object)

In [3]:
prices = {
    'Coffee': 2,
    'Cake': 3,
    'Cookie': 1,
    'Salad': 5,
    'Smoothie': 4,
    'Sandwich': 4,
    'Juice': 3,
    'Tea': 1.5
}

In [4]:
# Atribuição de valores com base no dicionário
for item, price in prices.items():
    data.loc[data['Item'] == item, 'Price Per Unit'] = price
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2,4.0,Digital Wallet,In-store,2023-06-11

In [5]:
# Valores unicos em Quantity
data['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [6]:
# Convertendo para coluna numerica
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')
data['Price Per Unit'] = pd.to_numeric(data['Price Per Unit'], errors='coerce')
data['Total Spent'] = pd.to_numeric(data['Total Spent'], errors='coerce')

# Checando se o data type está correto
data['Quantity'].dtype, data['Price Per Unit'].dtype, data['Total Spent'].dtype

(dtype('float64'), dtype('float64'), dtype('float64'))

In [7]:
# Calculando Quantity apenas onde o valor está NaN
quant_nan = data['Quantity'].isna() & data['Price Per Unit'].notna() & data['Total Spent'].notna()

In [8]:
data.loc[quant_nan, 'Quantity'] = data.loc[quant_nan, 'Total Spent'] / data.loc[quant_nan, 'Price Per Unit']

In [9]:
# Calculando Total Spent
data['Total Spent'] = data['Quantity'] * data['Price Per Unit']
data.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3.0,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,2023-12-31

In [10]:
data.to_pickle('../data/data_step1.pkl')